
{% extends "users/user_base.html" %}
{% load static %}

{% block header-extra-content %}
  {{ block.super }}

  {% if sitetheme.slug == 'default' %}
  <link href="{% static 'fonts/pure-icon-font/style.css' %}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block user_self_listgroup %}

{% endblock %}

{% block user_listgroup %}

{% endblock %}

{% block user_content %}

  {% if user.is_mentor %}
    {% include 'users/mentor-detail.html' %}
  {% endif %}

  {% if user.is_candidate %}
    {% include 'users/candidate-detail.html' %}
  {% endif %}

  {% if user.is_admin %}
    {% include 'users/admin-detail.html' %}
  {% endif %}

  <p class="small dark-gold">{{ user.get_user_type_display }} {% if user.is_admin %}(Administrator){% endif %}{% if user.last_login %}∙ last seen: {{ user.last_login }}{% endif %}</p>
{% endblock %}

