
{% extends "users/user_base.html" %}
{% load static %}

{% block header-extra-content %}
  {{ block.super }}

  {% if sitetheme.slug == 'default' %}
  <link href="{% static 'fonts/pure-icon-font/style.css' %}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block user_self_listgroup %}

{% endblock %}

{% block user_listgroup %}

{% endblock %}

{% block user_content %}

  {% if request.user == user and request.user.is_mentor %}
    {% include 'users/mentor-detail.html' %}
  {% else %}

  {% endif %}

  {% if request.user.is_mentor or request.user == user and request.user.is_candidate %}
    {% include 'users/candidate-detail.html' %}
  {% endif %}

  {% if request.user.is_admin %}
    {% include 'users/admin-detail.html' %}
  {% endif %}

  <div class="d-flex flex-row justify-content-between">
  <p class="small dark-gold">{{ user.get_full_name }} has user type
    <strong>{{ user.get_user_type_display }}</strong> {% if not user.user_type == "admin" %}{% if user.is_admin %}(Administrator){% endif %}{% endif %}{% if user.last_login %}∙ last seen: {{ user.last_login }}{% endif %}</p>
  <p class="small">I have user type <strong> {{ request.user.get_user_type_display }}</strong></p>
  </div>
{% endblock %}

