{% load static i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item active mr-auto">
        <a class="nav-link" href="{% url 'users:detail' request.user.username %}">{{ request.user.get_full_name }}</a>
      </li>

{#    TODO: Teams list & detail pages etc. #}
{#      {% if user.is_authenticated %}#}
{#        <li class="nav-item mr-auto">#}
{#          <a class="nav-link" href="" title="Teams"><span class="hidden-md-down">Teams</span></a>#}
{#        </li>#}
{#      {% endif %}#}

      {% if user.is_authenticated %}
        <li class="nav-item mr-4">
          <a class="nav-link" href="{% url 'account_logout' %}" title="{% trans 'Logout' %}">Logout</a>
        </li>
      {% else %}
        <li class="nav-item mr-4">
          <a class="nav-link" href="{% url 'account_signup' %}" title="{% trans 'Sign Up' %}"><span class="hidden-md-down">{% trans "Sign Up" %}</span><i class="vs-lightning hidden-lg-up"></i></a>
        </li>
        <li class="nav-item mr-4">
          <a class="nav-link" href="{% url 'account_login' %}" title="{% trans 'Login' %}"><span class="hidden-md-down">{% trans "Login" %}</span><i class="vs-enter hidden-lg-up"></i></a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>




